.container{
    margin-top: 2%;
}
.card{
    width: 50%;
    margin: auto;
    border: 3px, solid, tomato;
    padding: 5%;
    border-radius: 1%;
}
.card h2{
    text-align: center;
}
.field{
    width: 100%;
}
.container .btn-div{
    margin: 5px;
}
.btn-div{
    text-align: center;
}